---
http_interactions:
- request:
    method: get
    uri: http://api-v1.etf2l.org/player/91596
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"status":{"code":200,"message":"OK"},"player":{"country":"France","classes":["Soldier"],"teams":null,"bans":[{"reason":"VAC Ban","end":1429999200,"start":1398463200}],"name":"vinz.","urls":{"transfers":"http://api-v1.etf2l.org/player/91596/transfers","self":"http://api-v1.etf2l.org/player/91596","results":"http://api-v1.etf2l.org/player/91596/results"},"steam":{"avatar":"http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/93/9335056ba2e261c2ee40933948776d26a61e9786_full.jpg","id":"STEAM_0:1:75692500","id64":"76561198111650729"},"id":91596,"title":"Player"}}
  recorded_at: Fri, 20 Jun 2014 00:02:58 GMT
recorded_with: VCR 2.9.2
