---
http_interactions:
- request:
    method: get
    uri: http://api-v1.etf2l.org/player/10512
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"status":{"code":200,"message":"OK"},"player":{"country":"Germany","classes":["Demoman","Soldier"],"teams":[{"country":"Germany","name":"Ein Traum die Buben","urls":{"matches":"http://api-v1.etf2l.org/team/16871/matches","transfers":"http://api-v1.etf2l.org/team/16871/transfers","self":"http://api-v1.etf2l.org/team/16871","results":"http://api-v1.etf2l.org/team/16871/results"},"steam":{"group":null,"avatar":"http://api-v1.etf2l.org/img/unknown_avatar_full.jpg"},"homepage":null,"irc":{"network":null,"channel":null},"competitions":{"171":{"competition":"Basketball 2on2 Cup #5 powered by Tt eSPORTS - Group Stage","division":{"tier":null,"name":"Coppenhagen Division"},"url":"http://api-v1.etf2l.org/competition/171","category":"Basketball Cup"}},"id":16871,"server":null,"tag":"TB","type":"2on2"},{"country":"Germany","name":"LAME Highlander","urls":{"matches":"http://api-v1.etf2l.org/team/15914/matches","transfers":"http://api-v1.etf2l.org/team/15914/transfers","self":"http://api-v1.etf2l.org/team/15914","results":"http://api-v1.etf2l.org/team/15914/results"},"steam":{"group":null,"avatar":"http://api-v1.etf2l.org/img/unknown_avatar_full.jpg"},"homepage":"http://www.lamarama.de","irc":{"network":null,"channel":null},"competitions":{"156":{"competition":"Highlander Season 3","divi[...]
